
/* HEADER */
.header {
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  min-height: 60vh;
}

.header h1 {
  color: #F1F2EE;
  font-size: 36px;
  text-transform: uppercase;
  text-shadow: 4px 4px #435058;
}