@media all and (max-width: 600px) {
  .header {
    min-height: 40vh;
  }
  .header h1 {
    font-size: 32px;
  }
  .content p {
    padding: 20px 20px 0 20px;
  }
  .show-menu {
    display: block;
  }
  nav[role="navigation"] {
    display: inline-block;
    height: auto;
  }
  .menu__list {
    position: static;
    display: none;
  }
  .menu__item {
    margin-bottom: 1px;
  }
  .menu__item,
  .menu__item a {
    width: 100%;
  }
  .menu__sublist {
    display: none;
  }
  .menu__item a:hover+.menu__sublist,
  .menu__sublist:hover {
    display: table;
    width: 100%;
  }
}
